* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    width: 850px;
    height: 1100px;
    padding: 25px;
    border-bottom: 2px dotted red;
}

.box-system-name-description {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.system-name {
    display: inline-flex;
    flex-direction: row;
    background-image: url('spiral-galaxy.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    mix-blend-mode: difference;
}
.system-name--title {
    font-size: 20px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}
.system-name--subtitle {
    font-size: 15px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;
}
.box-system-name-description--side {
    display: inline-flex;
    flex-direction: column;
    width: 600px;
}
.name {
  width: 500px;
  height: 30px;
  border: 5px solid black;
}
.description {
  width: 500px;
  height: 150px;
  border: 5px solid black;
}

.box-flavor {
    width: 800px;
    height: 250px;
    display: flex;
    flex-direction: column;
}
.flavor {
    flex-grow: 1;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-top: 5px solid black;
}
.flavor:last-of-type {
  border-bottom: 5px solid black;
}

.box-fatigue-fractures-fuck {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.check-box {
  width: 60px;
  height: 60px;
  display: inline-flex;
  text-align: center;
  border-width: 5px;
  border-style: solid;
  border-color: #a0a0a0;
  font-size: 50px;
  color: #a0a0a0;
}
.fuck-that {
  width: 190px;
  height: 190px;
  border: 5px solid black;
}

.numbers {
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 250px;
}
.numbers-column {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    border-left: 5px solid black;
}
.numbers-column:last-of-type {
    border-right: 5px solid black;
}
.number {
    flex-grow: 1;
    border-top: 5px solid black;
}
.number:last-of-type {
    border-bottom: 5px solid black;
}

.label-and-thing {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}
.label-text {
    font-size: 20px;
    text-transform: uppercase;
}

.label-and-thing,.fuck {
    margin-bottom: 5px;
    margin-right: 5px;
}

/*
cut-corners
http://inovex.ca/how-to-cut-corners-without-cutting-corners/

TODO: make the size of the cut a parameter:
https://stackoverflow.com/questions/17893823/how-to-pass-parameters-to-css-classes
*/
.cut-corner-content {
    height: 100%;
}
.cut-corner-container {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 0;
    margin: 0;

    background-color: black;
    color: white;
}
.cut-corner-top-left {
    box-sizing: border-box;
    border-right: 10px solid black;
    border-top: 10px solid white;
    border-bottom: 0;
    border-left: 0;
    height: 30px;
}
.cut-corner-bottom-right {
    box-sizing: border-box;
    border-left: 10px solid black;
    border-bottom: 10px solid white;
    border-right: 0;
    border-top: 0;
    height: 30px;
}